# CELO Configuration
CELO_RPC_URL=https://alfajores-forno.celo-testnet.org
RECEIVER_ADDRESS=0xfb4580155df1869e4145a5313b23606b9a9b101d
MIN_AMOUNT_CELO=0.01

# Optional: Add your own receiver address
# RECEIVER_ADDRESS=your_celo_address_here
